.container{
    display: flex;
    flex-direction: column;
    gap:13%;

    width: 70vw;
    height: 80vh;


    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.row_container{
    display: flex;
    flex-direction: row;
    gap:20% ;
}
.box{
    width: 30vw;
    height: 35vh;
}
.title{
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}
img{
    width: 30vw;    
    height: 35vh;
}